@import "https://fontlibrary.org//face/open-sauce-one";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

html {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  color: #27292e; }

body {
  line-height: 1.5;
  font-family: 'OpenSauceOneRegular';
  font-weight: normal;
  font-style: normal;
  background: #f9f9fb; }

header {
  padding-bottom: 150px;
  overflow: hidden;
  position: relative;
  padding-top: 100px; }
  header .center {
    margin-top: 50px; }
    header .center .tab-btn {
      position: relative;
      display: flex;
      cursor: pointer;
      width: 200px;
      height: 36px;
      background-color: aliceblue;
      border-radius: 25px;
      font-size: 14px; }
      header .center .tab-btn button {
        position: relative;
        background-color: transparent;
        cursor: pointer;
        width: 50%;
        height: 36px;
        border: 0px;
        z-index: 1;
        opacity: 0.4;
        font-size: 14px;
        transition: all 0.4s ease 0s; }
        header .center .tab-btn button.active {
          opacity: 1 !important; }
      header .center .tab-btn span {
        position: absolute;
        width: 100px;
        height: 36px;
        left: 0px;
        background-color: white;
        font-size: 14px;
        border-radius: 21px;
        box-shadow: #ccc 0px 1px 2px 0px;
        transition: all 0.4s ease 0s; }
        header .center .tab-btn span.right {
          transform: translateX(100px); }
  header .header-1 {
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    color: White; }
  header .parag-1 {
    font-size: 16px;
    color: White; }
  header .safari-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -19;
    height: 100%;
    overflow: hidden; }
    header .safari-wrapper video {
      width: 100%;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0; }
    header .safari-wrapper img {
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      mix-blend-mode: multiply;
      z-index: 1;
      height: 100%;
      object-fit: cover; }

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border: 1px solid #f0f0f5;
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: #1b27330a 0px 1px 2px, #1b27330a 0px 4px 8px;
  z-index: 10; }
  nav .logo {
    width: 185px; }
  nav .col-6 {
    display: flex;
    align-items: center; }
  nav .right-coin-info {
    display: flex;
    align-items: center; }
    nav .right-coin-info .coin-box {
      display: flex;
      align-items: center;
      margin-right: 10px;
      color: #27292e;
      font-weight: 500;
      border-radius: 1000px;
      padding: 5px 10px; }
      nav .right-coin-info .coin-box:first-child {
        background-color: #5546ff1a; }
      nav .right-coin-info .coin-box:last-child {
        margin-right: 0;
        background-color: #f7931a1a; }
      nav .right-coin-info .coin-box img {
        width: 23px;
        margin-right: 5px; }

.top-right-coin-box {
  justify-content: flex-end; }

@media (max-width: 768px) {
  .top-right-coin-box {
    justify-content: center; }

  .list > div {
    flex-direction: column;
    align-items: flex-end !important; } }
main {
  transform: translateY(-70px); }

.container {
  max-width: 1150px; }

.sc-box {
  border-radius: 12px;
  box-shadow: #0000000a 0px 1px 2px;
  border: 1px solid #f0f0f5;
  padding: 32px;
  background-color: white;
  margin-bottom: 24px; }

@media (max-width: 768px) {
  .main-row {
    flex-direction: column-reverse; } }
.form-group .input-cont {
  position: relative; }
  .form-group .input-cont::after {
    content: attr(after-text);
    position: absolute;
    font-size: 14px;
    transition: all 0.05s ease-in-out 0s;
    z-index: 9999;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    background-color: #eeecff;
    height: calc(100% - 2px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
    color: #5546ff;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
.form-group .form-control:focus,
.form-group .form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(85, 70, 255, 0.1);
  border-color: rgba(85, 70, 255, 0.25); }

label {
  display: flex;
  align-items: center;
  user-select: none;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 14px;
  color: #444444; }

.question-mark {
  width: 14px;
  margin-left: 6px;
  cursor: pointer; }

.range-slider {
  margin-top: 25px;
  background-color: #e9e9e9;
  border: 0 !important;
  height: 5px; }
  .range-slider .ui-slider-range {
    background-color: #5546ff; }
  .range-slider .ui-slider-handle {
    border-radius: 100%;
    top: -7px !important;
    outline: none !important;
    background-color: white !important;
    cursor: pointer; }
    .range-slider .ui-slider-handle.ui-state-active {
      box-shadow: 0 0 5px rgba(55, 0, 255, 0.5);
      border: 0 !important; }

.btn-1 {
  font-size: 14px !important;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: #5546ff; }
  .btn-1:hover {
    background-color: rgba(85, 70, 255, 0.9) !important;
    border-color: rgba(85, 70, 255, 0.1) !important; }
  .btn-1:focus {
    background-color: rgba(85, 70, 255, 0.9) !important;
    box-shadow: 0 0 0 0.1rem rgba(85, 70, 255, 0.3) !important; }
  .btn-1:active {
    background-color: rgba(85, 70, 255, 0.9) !important; }

.modal h2 {
  font-size: 20px; }

.right-hr {
  margin-left: -32px;
  margin-right: -32px;
  border: 1px solid #f0f0f5;
  margin-top: 25px;
  margin-bottom: 25px; }

.list > div {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .list > div:last-child {
    margin-bottom: 0 !important; }
  .list > div label {
    margin-bottom: 0 !important; }

.tooltip-inner {
  max-width: 250px !important; }

.btc-per-year-h1 {
  font-weight: 800;
  text-align: center;
  font-size: 26px;
  margin: 12px 0px;
  margin: 12px 0px;
  position: relative;
  cursor: pointer; }
  .btc-per-year-h1::after {
    content: attr(btc);
    transition: opacity 0.5s;
    opacity: 0; }
  .btc-per-year-h1::before {
    content: attr(dollar);
    opacity: 1;
    transition: opacity 0.5s;
    position: absolute;
    left: 0;
    width: 100%; }
  .btc-per-year-h1:hover::after {
    opacity: 1; }
  .btc-per-year-h1:hover::before {
    opacity: 0; }

.cycles .slide-cycle-elem {
  border: 1px solid #f1f1f3;
  box-shadow: #0000000a 0px 1px 2px;
  border-radius: 12px;
  padding: 16px;
  color: #424248;
  background-color: white;
  width: 100%; }
  .cycles .slide-cycle-elem .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px; }
    .cycles .slide-cycle-elem .top .l {
      font-size: 20px;
      display: flex;
      align-items: flex-start; }
      .cycles .slide-cycle-elem .top .l small {
        font-size: 12px;
        margin-left: 7px; }
    .cycles .slide-cycle-elem .top .r {
      display: flex;
      -webkit-box-pack: end;
      justify-content: flex-end;
      flex-direction: row;
      border-width: 1px;
      border-style: solid;
      border-image: initial;
      background-color: #f9f9fb;
      border-color: #f1f1f3;
      padding: 8px 16px;
      border-radius: 18px;
      font-size: 12px;
      color: #424248; }
      .cycles .slide-cycle-elem .top .r .icon-b {
        margin-right: 6px; }
  .cycles .slide-cycle-elem .info-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px; }
    .cycles .slide-cycle-elem .info-box > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 16px; }
      .cycles .slide-cycle-elem .info-box > div small {
        font-size: 12px;
        color: #747478;
        margin-bottom: 8px; }
    .cycles .slide-cycle-elem .info-box:last-child {
      margin-bottom: 0 !important; }

.swiper-slide {
  background-color: transparent !important; }

.top-swipe-header {
  display: flex;
  align-items: Center;
  justify-content: space-between; }
  .top-swipe-header .right {
    position: relative; }
    .top-swipe-header .right .swiper-button-next {
      right: 0 !important; }
      .top-swipe-header .right .swiper-button-next::before, .top-swipe-header .right .swiper-button-next::after {
        margin-left: 3px; }
    .top-swipe-header .right .swiper-button-prev {
      right: 50px !important;
      left: auto !important; }
      .top-swipe-header .right .swiper-button-prev::before, .top-swipe-header .right .swiper-button-prev::after {
        margin-right: 3px; }
    .top-swipe-header .right div {
      background-color: White;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #f1f1f3;
      box-shadow: #0000000a 0px 1px 2px; }
      .top-swipe-header .right div::before, .top-swipe-header .right div::after {
        font-size: 18px;
        font-weight: bold;
        color: #5546ff; }

.faq-list > div {
  margin-bottom: 20px;
  border: 1px solid #f1f1f3;
  box-shadow: #0000000a 0px 1px 2px;
  border-radius: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #424248;
  background-color: white;
  width: 100%; }
  .faq-list > div.active {
    box-shadow: #0000000a 0px 6px 6px; }
    .faq-list > div.active .r {
      transform: rotate(45deg); }
  .faq-list > div .t {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none; }
    .faq-list > div .t .l {
      margin-right: 20px;
      color: #080808;
      font-size: 20px;
      line-height: 36px;
      font-weight: 500; }
    .faq-list > div .t .r {
      font-size: 30px;
      color: #5546ff;
      font-weight: bold;
      transition: 300ms ease-in-out; }
  .faq-list > div .b {
    display: none; }
    .faq-list > div .b p {
      margin-bottom: 0 !important; }

.custom-hr {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: 25px; }

footer {
  text-align: center; }
  footer p {
    margin-bottom: 5px !important; }
  footer img {
    width: 120px; }

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*# sourceMappingURL=compiled.css.map */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}