main {
    transform: translateY(-70px);
}

.container {
    max-width: 1150px;
}

.sc-box {
    border-radius: 12px;
    box-shadow: #0000000a 0px 1px 2px;
    border: 1px solid rgb(240, 240, 245);
    padding: 32px;
    background-color: white;
    margin-bottom: 24px;
}

@media (max-width: 768px) {
    .main-row {
        flex-direction: column-reverse;
    }
}

.form-group {
    .input-cont {
        position: relative;
        &::after {
            content: attr(after-text);
            position: absolute;
            font-size: 14px;
            transition: all 0.05s ease-in-out 0s;
            z-index: 9999;
            right: 1px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            background-color: #eeecff;
            height: calc(100% - 2px);
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 7px;
            padding-right: 7px;
            color: #5546ff;
            border-bottom-right-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }
    }

    .form-control,
    .form-select {
        &:focus {
            box-shadow: 0 0 0 0.25rem rgba(#5546ff, 0.1);
            border-color: rgba(#5546ff, 0.25);
        }
    }
}

label {
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
    color: rgb(68, 68, 68);
}


.question-mark {
    width: 14px;
    margin-left: 6px;
    cursor: pointer;
}

.range-slider {
    margin-top: 25px;
    background-color: #e9e9e9;
    border: 0 !important;
    height: 5px;
    .ui-slider-range {
        background-color: #5546ff;
    }
    .ui-slider-handle {
        border-radius: 100%;
        top: -7px !important;
        outline: none !important;
        background-color: white !important;
        cursor: pointer;
        &.ui-state-active {
            box-shadow: 0 0 5px rgba(55, 0, 255, 0.5);
            border: 0 !important;
        }
    }
}

.btn-1 {
    font-size: 14px !important;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: #5546ff;
    &:hover {
        background-color: rgba(#5546ff, 0.9) !important;
        border-color: rgba(#5546ff, 0.1) !important;
    }
    &:focus {
        background-color: rgba(#5546ff, 0.9) !important;
        box-shadow: 0 0 0 0.1rem rgba(#5546ff, 0.3) !important;
    }
    &:active {
        background-color: rgba(#5546ff, 0.9) !important;
    }
}

.modal {
    h2 {
        font-size: 20px;
    }
}
.right-hr {
    margin-left: -32px;
    margin-right: -32px;
    border: 1px solid rgb(240, 240, 245);
    margin-top: 25px;
    margin-bottom: 25px;
}

.list {
    & > div {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:last-child {
            margin-bottom: 0 !important;
        }
        label {
            margin-bottom: 0 !important;
        }
    }
}

.tooltip-inner {
    max-width: 250px !important;
}
.btc-per-year-h1 {
    font-weight: 800;
    text-align: center;
    font-size: 26px;
    margin: 12px 0px;
    margin: 12px 0px;
    position: relative;
    cursor: pointer;
    &::after {
        content: attr(btc);
        transition: opacity 0.5s;
        opacity: 0;
    }
    &::before {
        content: attr(dollar);
        opacity: 1;
        transition: opacity 0.5s;
        position: absolute;
        left: 0;
        width: 100%;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
        &::before {
            opacity: 0;
        }
    }
}

.cycles {
    .slide-cycle-elem {
        border: 1px solid #f1f1f3;
        box-shadow: #0000000a 0px 1px 2px;
        border-radius: 12px;
        padding: 16px;
        color: rgb(66, 66, 72);
        background-color: white;
        width: 100%;
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;
            .l {
                font-size: 20px;
                display: flex;
                align-items: flex-start;
                small {
                    font-size: 12px;
                    margin-left: 7px;
                }
            }
            .r {
                display: flex;
                -webkit-box-pack: end;
                justify-content: flex-end;
                flex-direction: row;
                border-width: 1px;
                border-style: solid;
                border-image: initial;
                background-color: #f9f9fb;
                border-color: #f1f1f3;
                padding: 8px 16px;
                border-radius: 18px;
                font-size: 12px;
                color: rgb(66, 66, 72);
                .icon-b {
                    margin-right: 6px;
                }
            }
        }
        .info-box {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 24px;
            & > div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-size: 16px;
                small {
                    font-size: 12px;
                    color: #747478;
                    margin-bottom: 8px;
                }
            }
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
}

.swiper-slide {
    background-color: transparent !important;
}

.top-swipe-header {
    display: flex;
    align-items: Center;
    justify-content: space-between;

    .right {
        position: relative;
        .swiper-button-next {
            right: 0 !important;
            &::before,
            &::after {
                margin-left: 3px;
            }
        }
        .swiper-button-prev {
            right: 50px !important;
            left: auto !important;
            &::before,
            &::after {
                margin-right: 3px;
            }
        }
        div {
            background-color: White;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #f1f1f3;
            box-shadow: #0000000a 0px 1px 2px;
            &::before,
            &::after {
                font-size: 18px;
                font-weight: bold;
                color: #5546ff;
            }
        }
    }
}

.faq-list {
    & > div {
        margin-bottom: 20px;
        border: 1px solid #f1f1f3;
        box-shadow: #0000000a 0px 1px 2px;
        border-radius: 12px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #424248;
        background-color: white;
        width: 100%;

        &.active {
            .r {
                transform: rotate(45deg);
            }

            box-shadow: #0000000a 0px 6px 6px;
        }

        .t {
            display: flex;
            align-items: center;
            cursor: pointer;
            user-select: none;

            .l {
                margin-right: 20px;
                color: #080808;
                font-size: 20px;
                line-height: 36px;
                font-weight: 500;
            }
            .r {
                font-size: 30px;
                color: #5546ff;
                font-weight: bold;
                transition: 300ms ease-in-out;
            }
        }
        .b {
            display: none;
            p {
                margin-bottom: 0 !important;
            }
        }
    }
}
.custom-hr {
    border-top: 1px solid #eee;
    border-bottom: 1px solid#eee;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-top: 25px;
}

footer {
    text-align: center;
    p {
        margin-bottom: 5px !important;
    }
    img {
        width: 120px;
    }
}
